.playContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 40px;
    padding: 10px 20px 20px 20px;
    width: 100%;
    height: calc(100vh - 80px); /* Altura total da viewport menos a altura do Header */
    overflow-y: auto; /* Habilita a rolagem vertical quando o conteúdo transborda */
    box-sizing: border-box;
}

.mainGameArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.gameStatusContainer {
    display: flex;
    justify-content: center;
    gap: 32px;
    align-items: center;
}

.boardsContainer {
    display: flex;
    gap: 40px;
}

.boardWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative; /* Necessário para o posicionamento absoluto da camada */
    gap: 20px;
}

.buttonContainer {
    display: flex;
    gap: 32px; /* Ajusta o espaçamento entre os botões */
    width: 360px; /* Define a largura total igual à do tabuleiro */
    box-sizing: border-box; /* Garante que o padding não afete a largura total */
}

.randomizeButton {
    flex: 1; /* Permite que o botão cresça para preencher o espaço */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #036d9e;
    color: #FFF;
    text-align: center; /* Centraliza o texto no botão */
}

.confirmButton {
    flex: 1; /* Permite que o botão cresça para preencher o espaço */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #2ecc71; /* Verde */
    color: white;
    text-align: center; /* Centraliza o texto no botão */
}

/* Estiliza a barra de rolagem */
.playContainer::-webkit-scrollbar {
    width: 8px;
}

.playContainer::-webkit-scrollbar-track {
    background: transparent;
}

.playContainer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.playContainer {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

.deckContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}