.Perfil_Main_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 75px);
  background-size: cover;
  background-position: center;
}

.Perfil_Main_Container .Perfil_Edit_Open {
  position: absolute;
  left: 30px;
  top: 60px;
  border: none;
  padding: 10px 15px;
  background-color: var(--tertiary-color);
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--font-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 100ms ease-in-out;
  font-size: 16px;
}

.Perfil_Main_Container .Perfil_Edit_Open:hover {
  opacity: 50%;
}

.Perfil_Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  gap: 10px;
}

.Perfil_Container .Perfil_Icon {
  width: 120px;
  height: 120px;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  border: solid 5px var(--tertiary-color);
  border-radius: 100%;
  z-index: 1;
}

.Perfil_Container .Perfil_Icon:hover {
  opacity: 80%;
}

.Effect_Container {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 100%;
  top: 8%;
}

.Effect_Container img {
  width: 100%;
  bottom: 10px;
  position: absolute;
  border-radius: 100%;
}

.Perfil_Cards_Container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  justify-content: center;
}

.Perfil_Edit_Pop_UP {
  background-color: var(--primary-color);
  position: absolute;
  top: 25%;
  left: 10%;
  height: 50vh;
  transition: 300ms all ease-in-out;
  border-radius: 15px;
  z-index: 1;
}

.Perfil_Edit_Right {
  background-color: var(--secondary-color);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 30px;
}

.Perfil_Edit_Right table td,
.Perfil_Edit_Right table th,
.Perfil_Edit_Right table caption {
  padding: 10px;
  background-color: var(--primary-color);
  text-align: center;
}

.Perfil_Edit_Right button {
  border: none;
  width: 80px;
  height: 60px;
  position: relative;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  border-radius: 5px;
}

.Perfil_Edit_Right button:hover {
  background-color: var(--primary-color);
}

.Perfil_Edit_Right button::after,
.Perfil_Edit_Right button::before {
  content: "";
  position: absolute;
  width: 75%;
  height: 3px;
  background-color: var(--font-color);
  border-radius: 5px;
}

.Perfil_Edit_Right button::after {
  top: 30%;
  right: 15%;
  transform: rotate(-25deg);
}

.Perfil_Edit_Right button::before {
  top: 60%;
  right: 15%;
  transform: rotate(25deg);
}

.Perfil_Edit_Right button:last-child {
  transform: rotate(180deg);
}

.Perfil_Edit_Right div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.Perfil_Edit_Right div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Perfil_Main_Container .Perfil_Edit_Close {
  position: absolute;
  right: 0px;
  top: 0px;
  border: none;
  padding: 10px;
  background-color: var(--primary-color);
  color: var(--font-color);
  border-radius: 5px;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  width: 30px;
  height: 30px;
  margin: 10px;
}

.Perfil_Main_Container .Perfil_Edit_Close:hover {
  opacity: 50%;
  border: solid 1px var(--tertiary-color);
}

.Perfil_Edit_left {
  background-color: var(--primrary-color);
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
}

.Perfil_Edit_left ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 30px;
  gap: 15px;
}

.Perfil_Edit_left input {
  display: none;
}

.Perfil_Edit_left ul button {
  border: none;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  transition: 300ms all ease-in-out;
  background-color: var(--secondary-color);
}

.Perfil_Edit_left ul button:hover {
  opacity: 50%;
}

.Button_Send {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 120px;
  height: 60px;
  border-radius: 5px;
}

@media (max-width: 900px) {
  .Perfil_Main_Container .Perfil_Edit_Open {
    left: 15px;
    top: 15px;
  }
}

@media (max-width: 768px) {
  .Perfil_Edit_Pop_UP {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 95%;
    flex-direction: column;
    overflow-y: auto;
    padding: 15px;
  }

  .Perfil_Edit_left {
    width: 100%;
    border-right: none;
    border-bottom: solid 1px var(--font-color);
    padding-bottom: 10px;
  }

  .Perfil_Edit_Right {
    width: 100%;
    padding-top: 10px;
  }

  .Perfil_Edit_Right table {
    width: 100%;
    font-size: 12px;
  }

  .Perfil_Edit_Right table input[type="color"] {
    width: 40px;
    height: 20px;
    padding: 1px;
  }

  .Button_Send {
    position: static;
    width: 100%;
    height: 50px;
    margin-top: 20px;
  }

  .Perfil_Cards_Container {
    justify-content: center;
    gap: 10px;
    align-items: stretch;
  }

  .Perfil_Cards_Container > div {
    width: 45%;
    min-width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Perfil_Cards_Container > div > :first-child {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
