.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 30px;
}

.Nav_Buttons_Container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
}

.Nav_Buttons_Container ul {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 800px;
  flex-wrap: wrap;
  gap: 10px;
}

.Nav_Buttons_Container li {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  text-align: center;
  cursor: pointer;
  transition: 300ms all ease-in-out;
}

.Nav_Buttons_Container li:hover {
  opacity: 80%;
  border: solid 3px var(--tertiary-color);
}

.Cards_Container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 30px;
}

.FC_Container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.FC_Container img {
  width: 30px;
}
