.Nav_Button_Container label {
  cursor: pointer;
  background-color: transparent;
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--font-color);
  font-weight: bold;
  transition: background 0.3s;
  font-size: 1rem;
}

.Nav_Button_Container label:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.Nav_Button_Container input {
  display: none;
}

.Nav_Button_Container input:checked + label {
  background-color: var(--tertiary-color);
  color: white;
}
